<div class = "header-container">
 
  <div class = "panel-left">
    
    <div class = "header-title">
        Hanging Hashtags
    </div>
    <div class = "header-subtitle">
        Building Backgrounds <br/>
        Demonstrations and  Experiences
    </div>
    
    <div style="padding-top:10%">
      <rating></rating>  
    </div>
    
    <div style="padding-top: 5%;">
        <button-container></button-container>
    </div>

  </div>

  <div class = "panel-right">
    <span class = "ft-dark ft-lg">Resources</span>
    
    <div class = "ft-dark ft-sm">
      <i class="fa fa-download"></i>
      <a href="#" class="ft-dark">Download: 
        <span>Hanging Hashtag Think Sheet</span>
      </a>
    </div>
    
    <div class = "ft-dark ft-sm">
      <i class="fa fa-external-link"></i>
      <a href="#" class="ft-dark">Link: 
        <span>Using Visuals to Build Interest and Understanding</span>
      </a>
    </div>
    
    <div class = "ft-dark ft-sm">
      <i class="fa fa-external-link"></i>
      <a href="#" class="ft-dark" style="cursor:pointer;">Link: 
        <span>Edutopia: Common Core in Action: <br/> 10 Visual Literacy Strategies (Edutopia)</span>
      </a>
    </div>

  </div>

</div>