<div class = "tab-content">
  <div class="about-content">
    <div>
      <div class = "ft-md">
        <i class="fa fa-bullseye"></i>
        Objective
      </div>
      <br/>
      <div><strong>Students will write short phrases...</strong></div>
      <br/><br/>
      <div class = "ft-md">
        <i class="fa fa-sticky-note"></i>
        Description
      </div>
      <div>An image is posted...</div>
    </div>

    <div class="reading-box">
      <div>
        <i class="fa fa-bullhorn"></i>
        Reading
      </div>
      <div>Speaking, Listening</div>
    </div>

  </div>
</div>