<div class="tabbed-container">
<div class="navbar navbar-light navbar-expand-lg">
  <div class="navbar-collapse collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto hashtag-navbar">
      
      <li class="nav-item">
        <a class="nav-link ft-md app-nav-col" 
           routerLink = "/about" 
           routerLinkActive="active">About</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link ft-md app-nav-col" 
           routerLink = "/activity-plan"
           routerLinkActive="active">Activity Plan</a>
      </li>
      
      <li class="nav-item app-nav-col">
        <a class="nav-link ft-md" 
           routerLink = "/examples"
           routerLinkActive="active">Examples</a>
      </li>
    </ul>
  </div>
  
</div>